<!DOCTYPE html>
<html>
    <head>
        <title>Patella</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>

          <h1>Table Result:</h1>
          <h4>
            This table was made by scraping the url for download links, downloading the selected file and reading the file into a table
          </h4>
                {{ table | safe }}
        <div title="Enter your data!">
          <form action="/{{ var }}/plot" method="POST" style="display:inline-block;margin:50px;"> <!--convert this to the addr of the site-->
            <p>Data Column   <input title="datacol" type="text" name="datacol" /></p>
            <p>Years Column Name <input title="datacol" type="text" name="yearcol"/></p>
            <p><input type="submit" name="action" value="Graph vs First Executives" /></p>
          </form>
        </div>
</body>
</html>
