<!DOCTYPE html>
<html>
    <head>
        <title>Covfefe</title>
    </head>

    <body>

        <h2>Welcome to Covfefe</h2>
        <h4>A resource that allows you to compare the variation across years in data sets to the political parties</h4>
        <div id="formdiv" title="Enter your data!">
        <form action="http://localhost:4444/patella/url_result" method="POST">
            <p>Data Scrape URL<input title="url" type="text" name="URL" value=""</p>
            <p>Physics <input title="physics" type="text" name = "Physics" /></p>
            <p>Chemistry <input title="chem" type="text" name="chemistry" /></p>
            <p>Maths <input title="maths" type="text" name = "Mathematics" /></p>
            <p><input type="submit" value="scrape data" /></p>
        </form>
        </div>

</body>
</html>